<ion-card>
  <ion-card-header>
    <ion-card-title>Task List</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-select [(ngModel)]="filter" placeholder="Select filter">
      <ion-select-option *ngFor="let filter of filters" [value]="filter">{{ filter }}</ion-select-option>
    </ion-select>

    <ion-list>
      <ion-item *ngFor="let task of filteredTasks">
        <ion-label>{{ task.name }} - {{ task.date }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
