<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
    <ion-buttons slot="end" (click)="isEditing = !isEditing" *ngIf="!isEditing">
      <ion-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-avatar>
  <img src="../assets/icon/user.svg" alt="" />
</ion-avatar>
<ion-content *ngIf="!isEditing">
  <ion-list *ngIf="isLoading">
    <ion-item *ngFor="let width of [70, 40, 50, 100]">
      <ion-skeleton-text [animated]="true" [style.width.px]="width"></ion-skeleton-text>
      <ion-skeleton-text slot="end" [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!isLoading">
    <ion-item>
      <ion-label>Full Name</ion-label>
      <ion-text>{{ accountForm.value.fullName || "John Doe" }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{ accountForm.value.email || "johndoe@miicare.com" }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-text>{{ accountForm.value.phone || "934996868" }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-text>{{ accountForm.value.dob || "1999-02-11" }}</ion-text>
    </ion-item>
  </ion-list>
  <br />
  <ion-menu-toggle auto-hide="false">
    <ion-item button (click)="refresh()">
      <ion-icon slot="start" name="sync-outline"></ion-icon>
      <ion-label>Refresh Data </ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-content>

<ion-content *ngIf="isEditing">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input formControlName="fullName" type="text" placeholder="Enter your name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="accountForm.get('fullName')?.invalid && accountForm.get('fullName')?.touched">
      {{ getErrors("fullName")[0] }}
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Enter your email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="accountForm.get('email')?.invalid && accountForm.get('email')?.touched">
      {{ getErrors("email")[0] }}
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input formControlName="phone" type="tel" placeholder="Enter your phone number"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="accountForm.get('phone')?.invalid && accountForm.get('phone')?.touched">
      {{ getErrors("phone")[0] }}
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Date of Birth</ion-label>
      <ion-input formControlName="dob" type="date" placeholder="Select your date of birth"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="accountForm.get('dob')?.invalid && accountForm.get('dob')?.touched">
      {{ getErrors("dob")[0] }}
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="accountForm.invalid">Save Changes</ion-button>
    <ion-button expand="block" color="medium" (click)="isEditing = !isEditing">Cancel</ion-button>
  </form>
</ion-content>
