ion-text {
  margin-left: 15px;
}
ion-avatar {
  margin: 3vh auto;
  width: 20vh;
  height: 20vh;
  background: #ffffff;
  padding: 3%;
  border: 0.2px dashed #000000;
}
ion-skeleton-text {
  height: 15px;
}
